{% load static %}
<section class="py-8 min-h-[60vh] md:h-[calc(100vh-5rem)] flex items-stretch">
    <div class="container mx-auto flex flex-col h-full px-4 md:px-0">
        <h2 class="text-3xl md:text-5xl font-bold text-center mt-8 md:mt-14 mb-6 md:mb-8 text-foreground" data-aos="fade-down" data-aos-duration="800">
            Лицензии и сертификаты
        </h2>
        <div class="flex flex-col flex-1 min-h-0 overflow-visible">
            <div id="coverflow-container">
                <img src="{% static 'images/Партнерский сертификат DEPO до 28.02.27_page-0001.jpg' %}" alt="DEPO Certified Partner">
                <img src="{% static 'images/partners.jpg' %}" alt="Сертификат партнерства">
                <img src="{% static 'images/reg.jpg' %}" alt="Регистрационный сертификат">
                <img src="{% static 'images/sert.jpg' %}" alt="Сертификат">
                <img src="{% static 'images/Kaspersky B2C Partner Certificate_page-0001.jpg' %}" alt="Kaspersky B2C Partner">
                <img src="{% static 'images/PartnerStatus_112f4c85-4bb1-4592-9c34-8156e769782f_page-0001.jpg' %}" alt="MaxPatrol EDR">
                <img src="{% static 'images/PartnerStatus_663fc3a4-83bd-4c6c-b06a-693d748b89ec_page-0001.jpg' %}" alt="MaxPatrol VM">
                <img src="{% static 'images/PartnerStatus_b6b9e3d0-9d4a-459e-ab16-ffacf9b19341(1)_page-0001.jpg' %}" alt="PT Multiscanner">
                <img src="{% static 'images/PartnerStatus_ce0f6dce-e89f-4f77-a52b-ad02c43f7ad6_page-0001.jpg' %}" alt="PT Sandbox">
                <img src="{% static 'images/Д4 технологии _page-0001.jpg' %}" alt="РусБИТех-Астра">
                <img src="{% static 'images/Д4 технологии _page-0002.jpg' %}" alt="РусБИТех-Астра 2">
                <img src="{% static 'images/Д4 технологии _page-0003.jpg' %}" alt="РусБИТех-Астра 3">
                <img src="{% static 'images/Д4 технологии _page-0004.jpg' %}" alt="РусБИТех-Астра 4">
                <img src="{% static 'images/ООО «Д4 Технологии»_RSAP 2026_page-0001.jpg' %}" alt="ИВК RSAP">
                <img src="{% static 'images/Сертификат 1929 ООО «Д4 Технологии» 2026г_page-0001.jpg' %}" alt="Базальт СПО">
            </div>
        </div>
    </div>
</section>